<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) 2011 Apple Inc. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
  -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>server</key>
    <dict>
      <key>host</key>
      <string>127.0.0.1</string>

      <key>port</key>
      <integer>8008</integer>
    </dict>

    <key>accounts</key>
    <dict>
      <key>loader</key>
      <string>loadtest.sim.recordsFromTextFile</string>
      <key>params</key>
      <dict>
	<key>path</key>
	<string>loadtest/accounts.txt</string>
      </dict>
    </dict>

    <key>arrival</key>
    <dict>
      <key>factory</key>
      <string>loadtest.population.SmoothRampUp</string>

      <key>groups</key>
      <integer>60</integer>

      <key>groupSize</key>
      <integer>1</integer>

      <key>interval</key>
      <integer>13</integer>

    </dict>

    <key>clients</key>
    <array>
      <dict>
	<key>software</key>
	<string>loadtest.ical.SnowLeopard</string>

	<key>profiles</key>
	<array>

	  <dict>
	    <key>class</key>
	    <string>loadtest.profiles.Eventer</string>

	    <key>params</key>
	    <dict>
	      <key>interval</key>
	      <integer>25</integer>
	    </dict>
	  </dict>

	  <dict>
	    <key>class</key>
	    <string>loadtest.profiles.Inviter</string>

	    <key>params</key>
	    <dict>
	      <key>interval</key>
	      <integer>20</integer>

	      <key>spread</key>
	      <integer>3</integer>
	    </dict>
	  </dict>

	  <dict>
	    <key>class</key>
	    <string>loadtest.profiles.Accepter</string>

	    <key>params</key>
	    <dict>
	      <key>delay</key>
	      <integer>10</integer>

	      <key>spread</key>
	      <integer>2</integer>
	    </dict>
	  </dict>

	</array>

	<key>weight</key>
	<integer>1</integer>
      </dict>
    </array>

    <key>observers</key>
    <array>
      <string>loadtest.population.ReportStatistics</string>
      <string>loadtest.ical.RequestLogger</string>
      <string>loadtest.profiles.OperationLogger</string>
    </array>

  </dict>
</plist>
