# Additional dependencies for development and testing
pyflakes
docutils
mockldap
q
tl.eggdeps
--editable git+https://github.com/apple/ccs-caldavclientlibrary.git@ae7e028712896b71c9a9d39c756eebf1bf259233#egg=CalDAVClientLibrary
--editable git+https://github.com/apple/ccs-caldavtester.git@39a4a0e98a4575a87b2444ace4ace29c9a13067a#egg=CalDAVTester
