##
# Twisted dependency for non-OS X systems (uses pyOpenSSL).
##


Twisted==19.7.0
    #zope.interface

    # NOTE: Twisted also uses pyOpenSSL, pycrypto and service_identity,
    #   but doesn't specify them as dependencies, so that are explicitly
    #   added to calendarserver.
    #pyOpenSSL
    service_identity==16.0.0
        characteristic==14.3.0
        pyasn1==0.1.9
        pyasn1-modules==0.0.8
        #pyOpenSSL
    pycrypto==2.6.1

    pyOpenSSL==16.2.0
        cryptography==1.6
        	idna
            #pyasn1
            #cffi
            enum34==1.1.6
            ipaddress
            #setuptools
            #six
        six==1.10.0

    incremental==16.10.1
    constantly==15.1
