##
# Main CalendarServer dependency (does not include Twisted)
##

--editable .  # calendarserver

    zope.interface==4.1.2
	    setuptools==17.0

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/twext/trunk@15253#egg=twextpy
        cffi==1.1.0
            pycparser==2.13
        #twisted

        # [LDAP] extra
            python-ldap==2.4.19
                #setuptools

        # [DAL] extra
              sqlparse==0.1.14  # Compat issue in 0.1.15; fix before updating

        # [OpenDirectory] extra
            #pyobjc-framework-OpenDirectory  # Use system module

        # [Postgres] extra
            pg8000==1.10.2

        # [Oracle] extra
            #cx_Oracle==5.2  # Needs manual patch

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyKerberos/trunk@15140#egg=kerberos

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyCalendar/trunk@15020#egg=pycalendar
    python-dateutil==1.5  # Note: v2.0+ is for Python 3
    pytz==2015.4

    psutil==2.2.1
    setproctitle==1.1.8
    # xattr==0.7.5  # Only needed for upgrades from ancient versions.  Added in _cache_deps.
        #cffi
