##
# Twisted dependency for OS X systems (uses pySecureTransport).
##

Twisted==15.4.0
    #zope.interface
    pycrypto==2.6.1

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/OSXFrameworks/trunk@15423#egg=osxframeworks
        #cffi==1.3.0
        #    pycparser==2.14

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PySecureTransport/trunk@15423#egg=pysecuretransport

