# For CalendarServer development, don't try to get these projects from PyPI; use svn.

-e .
-e svn+http://svn.calendarserver.org/repository/calendarserver/twext/trunk@13473#egg=twextpy
-e svn+http://svn.calendarserver.org/repository/calendarserver/PyKerberos/trunk@13420#egg=kerberos
-e svn+http://svn.calendarserver.org/repository/calendarserver/PyCalendar/trunk@13420#egg=pycalendar

# Specify specific versions of our dependencies so that we're all testing the same config.

PyGreSQL==4.1.1
Twisted==13.2.0
cffi==0.8.2
funcparserlib==0.3.6
psutil==2.1.0
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
python-ldap==2.4.15
setproctitle==1.1.8
sqlparse==0.1.11
wheel==0.23.0
