# This file should contain everything in the output of:
#   ./bin/python -m pip freeze --local
# with the exception of any modules obtained via requirements-dev.plist

# For CalendarServer development, don't try to get these projects from PyPI; use svn.

-e .
-e svn+http://svn.calendarserver.org/repository/calendarserver/twext/trunk@13676#egg=twextpy
-e svn+http://svn.calendarserver.org/repository/calendarserver/PyKerberos/trunk@13420#egg=kerberos
-e svn+http://svn.calendarserver.org/repository/calendarserver/PyCalendar/trunk@13621#egg=pycalendar

# Specify specific versions of our dependencies so that we're all testing the same config.

cffi==0.8.2
funcparserlib==0.3.6
psutil==2.1.0
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
PyGreSQL==4.1.1
pyOpenSSL==0.13.1
python-dateutil==1.5
python-ldap==2.4.15
pytz==2013.7
setproctitle==1.1.8
sqlparse==0.1.11
Twisted==13.2.0
wheel==0.23.0
xattr==0.6.4
zope.interface==4.0.5
