##
# Main CalendarServer dependency (does not include Twisted)
##

--editable .  # calendarserver

    zope.interface==4.3.2
	    setuptools==30.2.0

    --editable git+https://github.com/apple/ccs-twistedextensions.git#egg=twextpy
        cffi==1.9.1
            pycparser==2.17
        #twisted

        # [LDAP] extra
            python-ldap==2.4.28
                #setuptools

        # [DAL] extra
              sqlparse==0.2.0

        # [OpenDirectory] extra
            #pyobjc-framework-OpenDirectory  # Use system module

        # [Postgres] extra
            pg8000==1.10.6

        # [Oracle] extra
            #cx_Oracle==5.2  # Needs manual patch

    --editable git+https://github.com/apple/ccs-pykerberos.git#egg=kerberos

    --editable git+https://github.com/apple/ccs-pycalendar.git#egg=pycalendar
    python-dateutil==2.6.0
    pytz==2016.7

    psutil==5.0.0
    setproctitle==1.1.10
    # xattr==0.7.5  # Only needed for upgrades from ancient versions.  Added in _cache_deps.
        #cffi
