##
#
# Specify specific versions of our dependencies here.
#
##
#
# This defines the versions of dependencies that we are developing and
# testing with.
#
# Other versions of dependencies are likely to work in most cases, but
# here you can see what our automated builds are using, so this
# combination is known to work.
#
##
#
# This file should contain every module in the output of:
#   ./bin/dependencies -a
#
##

--editable .  # calendarserver

    zope.interface==4.1.2

    Twisted==15.2.1
        #zope.interface

        # NOTE: Twisted also uses pyOpenSSL, pycrypto and service_identity,
        #   but doesn't specify them as dependencies, so that are explicitly
        #   added to calendarserver.
        #pyOpenSSL
        service_identity==14.0.0
            characteristic==14.3.0
            pyasn1==0.1.7
            pyasn1-modules==0.0.5
            #pyOpenSSL
        pycrypto==2.6.1

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/twext/branches/release/twext-7.0-dev@15059#egg=twextpy
        cffi==1.1.0
            pycparser==2.13
        #twisted

        # [LDAP] extra
            python-ldap==2.4.19
                #setuptools

        # [DAL] extra
              sqlparse==0.1.14  # Compat issue in 0.1.15; fix before updating

        # [OpenDirectory] extra
            #pyobjc-framework-OpenDirectory  # Use system module

        # [Postgres] extra
            pg8000==1.10.2

        # [Oracle] extra
            #cx_Oracle==5.1.3  # Not in PyPI

    pyOpenSSL==0.14
        cryptography==0.9
        	idna
            #pyasn1
            #cffi
            enum34==1.0.4
            ipaddress
            setuptools==17.0
            #six
        six==1.9.0

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyKerberos/trunk@13420#egg=kerberos

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyCalendar/trunk@15020#egg=pycalendar
    python-dateutil==1.5  # Note: v2.0+ is for Python 3
    pytz==2015.4

    psutil==2.2.1
    setproctitle==1.1.8
    # xattr==0.7.5  # Only needed for upgrades from ancient versions.  Added in _cache_deps.
        #cffi
