##
# Main CalendarServer dependency (does not include Twisted)
##

--editable .  # calendarserver

    zope.interface==4.1.3
	    setuptools==18.5

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/twext/trunk@15780#egg=twextpy
        cffi==1.7.0
            pycparser==2.14
        #twisted

        # [LDAP] extra
            python-ldap==2.4.25
                #setuptools

        # [DAL] extra
              sqlparse==0.1.19

        # [OpenDirectory] extra
            #pyobjc-framework-OpenDirectory  # Use system module

        # [Postgres] extra
            pg8000==1.10.6

        # [Oracle] extra
            #cx_Oracle==5.2  # Needs manual patch

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyKerberos/trunk@15423#egg=kerberos

    --editable svn+http://svn.calendarserver.org/repository/calendarserver/PyCalendar/trunk@15423#egg=pycalendar
    python-dateutil==2.5.3
    pytz==2016.4

    psutil==4.3.0
    setproctitle==1.1.10
    # xattr==0.7.5  # Only needed for upgrades from ancient versions.  Added in _cache_deps.
        #cffi
