# Get our own dependencies
--editable .

# Specify editable dependencies explicitly since they won't be in PyPI
--editable svn+http://svn.calendarserver.org/repository/calendarserver/twext/trunk#egg=twextpy

# Additional dependencies for development
pyflakes
docutils>=0.11
mockldap>=0.1.4
q
--editable svn+http://svn.calendarserver.org/repository/calendarserver/CalDAVClientLibrary/trunk#egg=CalDAVClientLibrary
--editable svn+http://svn.calendarserver.org/repository/calendarserver/CalDAVTester/trunk#egg=CalDAVTester
