<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>users</key>
  <array>
    <dict>
      <key>authorize-as</key>
      <dict>
	<key>allow</key>
	<true/>
	<key>principals</key>
	<array>
	  <string>all</string>
	</array>
      </dict>
      <key>authorize-from</key>
      <array>
	<string>127.0.0.1</string>
      </array>
      <key>password</key>
      <string>alice</string>
      <key>username</key>
      <string>alice</string>
    </dict>
  </array>
</dict>
</plist>
