<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ServiceName</key>
    <string>calendarServer</string>
    
    <key>RestoreBinaryPath</key>
    <string>/usr/libexec/sbs_backup/calendar_restore</string>
    <key>RestoreLog</key>
    <string>/private/var/log/sbs_backup/calendar_restore.log</string>
    <key>RestoreActions</key>
    <dict>
        <key>Default</key>
        <string>all</string>
        <key>Browse</key>
        <string>browse</string>
    </dict>

    <key>Version</key>
    <string>10.5</string>
</dict>
</plist>
