<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) 2006-2009 Apple Inc. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
  -->

<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <!-- Import a parent config before this one -->
    <key>ImportConfig</key>
    <string>./conf/caldavd-test.plist</string>

    <!-- HTTP port [0 = disable HTTP] -->
    <key>HTTPPort</key>
    <integer>8108</integer>

    <!-- SSL port [0 = disable HTTPS] -->
    <!-- (Must also configure SSLCertificate and SSLPrivateKey below) -->
    <key>SSLPort</key>
    <integer>8543</integer>

    <!-- List of port numbers to bind to for HTTP [empty = same as "Port"] -->
    <key>BindHTTPPorts</key>
    <array>
    </array>

    <!-- List of port numbers to bind to for SSL [empty = same as "SSLPort"] -->
    <key>BindSSLPorts</key>
    <array>
    </array>

	<!--  Work Queue -->
	<key>WorkQueue</key>
	<dict>
		<key>ampPort</key>
		<integer>7655</integer>
	</dict>

    <!-- Server root -->
    <key>ServerRoot</key>
    <string>./data/podB</string>

    <!-- Configuration root -->
    <key>ConfigRoot</key>
    <string>./conf</string>

    <!-- XML File Directory Service -->
    <key>DirectoryService</key>
    <dict>
      <key>type</key>
      <string>xml</string>
      
      <key>params</key>
      <dict>
        <key>xmlFile</key>
        <string>./conf/auth/accounts-test-pod.xml</string>
      </dict>
    </dict>
    
    <!-- Resource and Location Service -->
    <key>ResourceService</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>type</key>
      <string>xml</string>
      
      <key>params</key>
      <dict>
        <key>xmlFile</key>
        <string>./conf/auth/resources-test-pod.xml</string>
      </dict>
    </dict>

    <!-- XML File Augment Service -->
    <key>AugmentService</key>
    <dict>
      <key>type</key>
      <string>twistedcaldav.directory.augment.AugmentXMLDB</string>
      
      <key>params</key>
      <dict>
        <key>xmlFiles</key>
        <array>
	      <string>./conf/auth/augments-test-pod.xml</string>
        </array>
      </dict>
    </dict>

    <key>ProxyLoadFromFile</key>
    <string>./conf/auth/proxies-test-pod.xml</string>

    <!--  Servers -->
    <key>Servers</key>
    <dict>
	    <key>Enabled</key>
	    <true/>
	    <key>ConfigFile</key>
	    <string>./conf/localservers-test.xml</string>
	    <key>MaxClients</key>
	    <integer>5</integer>
	    <key>InboxName</key>
	    <string>podding</string>
	</dict>

    <key>Notifications</key>
    <dict>
      <key>Services</key>
      <dict>

        <key>AMP</key>
        <dict>
          <key>Enabled</key>
          <false/>
        </dict>

      </dict>
    </dict>

    <!-- Support for Memcached -->
    <key>Memcached</key>
    <dict>
	  <key>Pools</key>
		<dict>
		  <key>Default</key>
		  <dict>
		    <key>ClientEnabled</key>
		    <true/>
		    <key>ServerEnabled</key>
		    <true/>
		    <key>BindAddress</key>
		    <string>localhost</string>
		    <key>Port</key>
		    <integer>11411</integer>
		  </dict>
		  <key>AllPods</key>
		  <dict>
		    <key>ClientEnabled</key>
		    <true/>
		    <key>ServerEnabled</key>
		    <false/>
		    <key>BindAddress</key>
		    <string>localhost</string>
		    <key>Port</key>
		    <integer>11311</integer>
		    <key>HandleCacheTypes</key>
		    <array>
		      <string>ProxyDB</string>
		      <string>DelegatesDB</string>
		      <string>PrincipalToken</string>
		      <string>DIGESTCREDENTIALS</string>
		    </array>
		  </dict>
		</dict>
      <key>MaxClients</key>
      <integer>5</integer>
      <key>Options</key>
      <array>
        <!--<string>-vv</string>-->
      </array>
    </dict>

  </dict>
</plist>
