<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) 2006-2009 Apple Inc. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
  -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <!--
        Public network address information

        This is the server's public network address, which is provided to
        clients in URLs and the like.  It may or may not be the network
        address that the server is listening to directly, though it is by
        default.  For example, it may be the address of a load balancer or
        proxy which forwards connections to the server.
      -->

    <!-- Network host name [empty = system host name] -->
    <key>ServerHostName</key>
    <string></string> <!-- The hostname clients use when connecting -->

    <!-- HTTP port [0 = disable HTTP] -->
    <key>HTTPPort</key>
    <integer>8800</integer>

    <!-- SSL port [0 = disable HTTPS] -->
    <!-- (Must also configure SSLCertificate and SSLPrivateKey below) -->
    <!--
    <key>SSLPort</key>
    <integer>8843</integer>
    -->

    <!-- Redirect non-SSL ports to an SSL port (if configured for SSL) -->
    <key>RedirectHTTPToHTTPS</key>
    <false/>


    <!--
        Network address configuration information

        This configures the actual network address that the server binds to.
      -->

    <!-- List of IP addresses to bind to [empty = all] -->
    <key>BindAddresses</key>
    <array>
    </array>

    <!-- List of port numbers to bind to for HTTP [empty = same as "Port"] -->
    <key>BindHTTPPorts</key>
    <array>
    </array>

    <!-- List of port numbers to bind to for SSL [empty = same as "SSLPort"] -->
    <key>BindSSLPorts</key>
    <array>
    </array>


    <!--
        Data Store
      -->

    <!-- Data root -->
    <key>DataRoot</key>
    <string>/Library/AddressBookServer/Data/</string>

    <!-- Document root -->
    <key>DocumentRoot</key>
    <string>/Library/AddressBookServer/Documents</string>

    <!-- User quota (in bytes) -->
    <key>UserQuota</key>
    <integer>104857600</integer><!-- 104857600 = 100Mb ; use 0 for no quota -->

    <!--
        Directory service

        A directory service provides information about principals (eg.
        users, groups, locations and resources) to the server.

        A variety of directory services are available for use.
      -->

    <!-- XML File Directory Service -->
    <!--
    <key>DirectoryService</key>
    <dict>
      <key>type</key>
      <string>twistedcaldav.directory.xmlfile.XMLDirectoryService</string>
      
      <key>params</key>
      <dict>
        <key>xmlFile</key>
        <string>/etc/carddavd/accounts.xml</string>
      </dict>
    </dict>
    -->
    
    <!-- Cache-on-Demand Open Directory Service (Mac OS X) -->
    <key>DirectoryService</key>
    <dict>
      <key>type</key>
      <string>twistedcaldav.directory.appleopendirectory.OpenDirectoryService</string>
      
      <key>params</key>
      <dict>
        <key>node</key>
        <string>/Search</string>
        <key>maxAvailableWaitSeconds</key>
        <integer>120</integer>			 <!-- Wait for all nodes to be available before starting server.  -1 to wait forever, 0 to not wait -->
        <key>node</key>
        <string>/Search</string>
        <key>restrictEnabledRecords</key>
        <false/>
        <key>restrictToGroup</key>
        <string></string>
        <key>cacheTimeout</key>
        <integer>30</integer>
      </dict>
    </dict>

    <!--
        Special principals

        These principals are granted special access and/or perform
        special roles on the server.
      -->

    <!-- Principals with "DAV:all" access (relative URLs) -->
    <key>AdminPrincipals</key>
    <array>
      <!-- <string>/principals/__uids__/AEB68DD7-D2B8-4D4D-A574-2A4533DF36A4/</string> -->
    </array>

    <!-- Principals with "DAV:read" access (relative URLs) -->
    <key>ReadPrincipals</key>
    <array>
      <!-- <string>/principals/__uids__/983C8238-FB6B-4D92-9242-89C0A39E5F81/</string> -->
    </array>

    <!-- Principals that can pose as other principals -->
    <key>SudoersFile</key>
    <string></string>  <!-- empty to disable <string>/etc/carddavd/sudoers.plist</string> -->

    <!--
        Permissions
      -->

    <!-- Anonymous read access for root resource -->
    <key>EnableAnonymousReadRoot</key>
    <false/>

    <!-- Anonymous read access for resource hierarchy -->
    <key>EnableAnonymousReadNav</key>
    <false/>

    <!-- Enables directory listings for principals -->
    <key>EnablePrincipalListings</key>
    <false/>


    <!--
        Authentication
      -->

    <key>Authentication</key>
    <dict>

      <!-- Clear text; best avoided -->
      <key>Basic</key>
      <dict>
        <key>Enabled</key>
        <false/>
      </dict>

      <!-- Digest challenge/response -->
      <key>Digest</key>
      <dict>
        <key>Enabled</key>
        <true/>
        <key>Algorithm</key>
        <string>md5</string>
        <key>Qop</key>
        <string></string>
      </dict>

      <!-- Kerberos/SPNEGO -->
      <key>Kerberos</key>
      <dict>
        <key>Enabled</key>
        <true/>
        <key>ServicePrincipal</key>
        <string></string>
      </dict>

    </dict>


    <!--
        Logging
      -->

    <!-- Apache-style access log -->
    <key>AccessLogFile</key>
    <string>/var/log/carddavd/access.log</string>
    <key>RotateAccessLog</key>
    <false/>

    <!-- Server activity log -->
    <key>ErrorLogFile</key>
    <string>/var/log/carddavd/error.log</string>

    <!-- Log levels -->
    <key>DefaultLogLevel</key>
    <string>warn</string> <!-- debug, info, warn, error -->

    <!-- Server statistics file -->
    <key>ServerStatsFile</key>
    <string>/var/run/carddavd/stats.plist</string>

    <!-- Server process ID file -->
    <key>PIDFile</key>
    <string>/var/run/carddavd.pid</string>


    <!-- Global server stats -->
    <key>GlobalStatsSocket</key>
    <string>/var/run/carddavd-stats.sock</string>

    <!--
	To snapshot every five minutes over the last hour:
	    GlobalStatsLoggingPeriod : 60
	    GlobalStatsLoggingFrequency : 12
	Set GlobalStatsLoggingFrequency to 0 to disable the stats
      -->

    <!-- Global server stats logging period -->
    <key>GlobalStatsLoggingPeriod</key>
    <integer>60</integer>

    <!-- Global server stats logging frequency -->
    <key>GlobalStatsLoggingFrequency</key>
    <integer>12</integer>

    <!--
        SSL/TLS
      -->

    <!-- Public key -->
    <key>SSLCertificate</key>
    <string></string>

    <!-- Private key -->
    <key>SSLPrivateKey</key>
    <string></string>


    <!--
        Process management
      -->

    <key>UserName</key>
    <string>_carddav</string>

    <key>GroupName</key>
    <string>_carddav</string>

    <key>ProcessType</key>
    <string>Combined</string>

    <key>MultiProcess</key>
    <dict>
      <key>ProcessCount</key>
      <integer>0</integer> <!-- 0 = larger of: 2 or CPU count -->
    </dict>




    <!--
        Miscellaneous items
      -->

    <!-- Maximum results returned by addressbook-query report -->
    <key>MaxAddressBookQueryResults</key>
    <integer>1000</integer>

    <!-- Maximum hrefs in addressbook-multiget report -->
    <key>MaxAddressBookMultigetHrefs</key>
    <integer>5000</integer>

    <!-- Service ACLs (Mac OS X) -->
    <key>EnableSACLs</key>
    <true/>

    <!-- Support for Content-Encoding compression options as specified in RFC2616 Section 3.5 -->
    <key>ResponseCompression</key>
    <true/>

    <!--
        Directory Address Book
      -->
    
    <!--  Disable Directory Address Book-->
    <!--
      <key>DirectoryAddressBook</key>
      <false/>
    -->
    
    <!-- Open Directory-backed Directory Address Book -->
    <key>DirectoryAddressBook</key>
    <dict>
        <key>type</key>
        <string>twistedcaldav.directory.opendirectorybacker.OpenDirectoryBackingService</string>
      
        <key>params</key>
        <dict>
     	  <!-- Search for people records -->
          <key>queryPeopleRecords</key>
          <true/>
     	  <!-- Search for people records in this directory service node -->
          <key>peopleNode</key>
          <string>/Search/Contacts</string>
     	  <!-- Search for user records -->
          <key>queryUserRecords</key>
          <true/>
          <key>userNode</key>
     	  <!-- Search for user records in this directory service node -->
          <string>/Search</string>
      	  <!-- query in directory service local node -->
          <key>queryDSLocal</key>
          <false/>
      	  <!-- minutes to keep directory service local node in memory before refresh -->
          <key>dsLocalCacheTimeout</key>
          <integer>30</integer>
     	  <!-- approx. maximum number of records returned from a directory service query -->
          <key>maxDSQueryRecords</key>
          <integer>150</integer> <!-- use 0 to have server calculate the maximum based on MaxAddressBookQueryResults, MaxAddressBookMultigetHrefs keys -->
     	  <!-- ignore system records like "root" when creating vCards -->
          <key>ignoreSystemRecords</key>
          <true/>
       	  <!-- True to use a directory service query for each addressBook-query to the directory address book -->
          <key>liveQuery</key>
          <true/>
       	  	  <!-- fake the eTag.  If false all directory service attributes are used to calculate the eTag -->
              <key>fakeETag</key>
              <true/>
          <!-- True to store the results on disk after a directory service query. True is usually much slower. -->
          <key>cacheQuery</key>
          <false/>
           	  <!-- If cacheQuery is True and liveQuery is False, the minutes to keep the results from a complete directory service all record query. -->
              <key>cacheTimeout</key>
              <integer>30</integer>
          <!-- add this key to use additional directory service attributes in queries.  Needed for some queries with directory service templates.
          <key>additionalAttributes</key>
          <array>
             <string>dsAttrTypeNative:sampleAIMPreferred</string>
             <string>dsAttrTypeNative:sampleManager</string>
          </array>
          -->
          <!-- add this key to limit directory service attributes used to make vCard properties
          		When using directory service templates, list should include only mapped attributes.
          <key>allowedAttributes</key>
          <array>
            <string>dsAttrTypeStandard:AddressLine1</string>
            <string>dsAttrTypeStandard:AddressLine2</string>
            <string>dsAttrTypeStandard:AddressLine3</string>
            <string>dsAttrTypeStandard:Birthday</string>
            <string>dsAttrTypeStandard:Building</string>
            <string>dsAttrTypeStandard:City</string>
            <string>dsAttrTypeStandard:Comment</string>
            <string>dsAttrTypeStandard:Company</string>
            <string>dsAttrTypeStandard:Country</string>
            <string>dsAttrTypeStandard:CreationTimestamp</string>
            <string>dsAttrTypeStandard:Department</string>
            <string>dsAttrTypeStandard:EMailAddress</string>
            <string>dsAttrTypeStandard:EMailContacts</string>
            <string>dsAttrTypeStandard:FAXNumber</string>
            <string>dsAttrTypeStandard:FirstName</string>
            <string>dsAttrTypeStandard:HomePhoneNumber</string>
            <string>dsAttrTypeStandard:IMHandle</string>
            <string>dsAttrTypeStandard:JPEGPhoto</string>
            <string>dsAttrTypeStandard:JobTitle</string>
            <string>dsAttrTypeStandard:LastName</string>
            <string>dsAttrTypeStandard:MapCoordinates</string>
            <string>dsAttrTypeStandard:MiddleName</string>
            <string>dsAttrTypeStandard:MobileNumber</string>
            <string>dsAttrTypeStandard:ModificationTimestamp</string>
            <string>dsAttrTypeStandard:NamePrefix</string>
            <string>dsAttrTypeStandard:NameSuffix</string>
            <string>dsAttrTypeStandard:NickName</string>
            <string>dsAttrTypeStandard:Note</string>
            <string>dsAttrTypeStandard:OrganizationName</string>
            <string>dsAttrTypeStandard:PGPPublicKey</string>
            <string>dsAttrTypeStandard:PagerNumber</string>
            <string>dsAttrTypeStandard:PhoneContacts</string>
            <string>dsAttrTypeStandard:PhoneNumber</string>
            <string>dsAttrTypeStandard:PostalAddress</string>
            <string>dsAttrTypeStandard:PostalAddressContacts</string>
            <string>dsAttrTypeStandard:PostalCode</string>
            <string>dsAttrTypeStandard:Relationships</string>
            <string>dsAttrTypeStandard:State</string>
            <string>dsAttrTypeStandard:Street</string>
            <string>dsAttrTypeStandard:URL</string>
            <string>dsAttrTypeStandard:UserCertificate</string>
            <string>dsAttrTypeStandard:UserPKCS12Data</string>
            <string>dsAttrTypeStandard:UserSMIMECertificate</string>
            <string>dsAttrTypeStandard:WeblogURI</string>
          </array>
          -->
        </dict>
    </dict>
      
    <!--  allow unauthenticated users to access the directory address book -->
    <key>AnonymousDirectoryAddressBookAccess</key>
    <false/>
    
    <!--  enable search address book in user's home -->
    <key>EnableSearchAddressBook</key>
    <false/>
    
    <!--  enable find share report -->
    <key>EnableFindSharedReport</key>
    <false/>

    </dict>
</plist>
