<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>users</key>
<array>
<!-- Sudo user definitions -->
<!-- With the exception of username and password none of the following
     elements are used in the current implementation. -->
<!--
  <dict>
    <key>authorize-as</key>
    <dict>
      <key>allow</key>
      <true/>
      <key>principals</key>
      <array>
	<string>all</string>
        <string>/principals/user/wsanchez</string>
      </array>
    </dict>
    <key>authorize-from</key>
    <array>
      <string>127.0.0.1</string>
    </array>

    <key>username</key>
    <string></string>

    <key>password</key>
    <string></string>
  </dict>
-->
  <dict>
    <key>username</key>
    <string>superuser</string>
    <key>password</key>
    <string>superuser</string>
  </dict>
</array>
</dict>
</plist>
